body{
  background-color:#001;
  transition:all 1s;
}
#main{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
#moon{
  width:100px;
  height:100px;
  background:#eef;
  border-radius:50%;
  transition:all 1s;
  

}
#bdy:target{
  
  background:#F7F7F7;
}
#bdy:target #main #moon{
  background:#F6D602;
  border:5px solid #f5eb71;
}
#bdy:target #main #moon .spots{
 width:0px; height:0px;background:#F6D602;
}
#bdy:target #main #cover{
  background:#F7F7F7;
 transform:translate(85px,-185px);
}
#moonspot1{
  width:15px;
  height:15px;
  background:#ccd;
  border-radius:50%;
  transform:translate(6px,40px);
  transition:all 1s;
}
#moonspot2{
  width:6px;
  height:6px;
  background:#ccd;
  border-radius:50%;
  transform:translate(18px,42px);
  transition:all 1s;
}


#cover{
  width:100px;
  height:100px;
  background:#001;
  border-radius:50%;
  transform:translate(25px,-125px);
transition:all 1s;
 
}
